
/* Set core root defaults */
html:focus-within {
  scroll-behavior: smooth;
}

/* Make images easier to work with */
img,
picture {
  max-width: 100%;
  display: block;
}

p,h1,h2,h3,h4,h5,h6{
  margin: 0;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}

.row{
    margin: 0;
}

.profile{
    cursor: pointer;
    text-decoration: none;
    color: black;
}


/* Modal */

.form-btn{
  font-weight: 500;
  letter-spacing: 0.3em;
  padding-block: 0.8em;
}

.hidden{
  display: none;
}
.modalbg{
  inset: 0px;
  background-color: rgba(0, 0, 0, 0.295);
}
/* ----------------------------------------------------------------- */

/*Modal*/
.modalsec{
  height: 100vh;
  width: 100vw;
  position: fixed;
  inset: 0;
  z-index: 5;
}

.modaloutline{
  max-width: 30rem;
  display: flex;
  flex-direction: column;
  background-color: white;
  margin-inline: auto;
  margin-top: 6rem;
  padding: 1.5rem 2rem;
  z-index: 10;
  backdrop-filter: blur(1px);
}
.btn-close{
  font-size: 0.8rem;
}
.modalbtndiv{
  width: 100%;
  text-align: center;
  margin-top: 2rem;
}
.modalbtn:disabled{
  width:50%;
  background-color: rgba(0, 0, 0, 0.823);
  border-color: rgba(0, 0, 0, 0);
  cursor: default;
  color: white
}
@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,wght@0,400;0,500;0,700;1,400;1,500;1,700&family=Dongle:wght@300;400;700&family=Inter:wght@100;200;300;400;500;600;700;800;900&family=Jost:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,800;1,900&family=Sacramento&display=swap');/* font-family: 'DM Sans', sans-serif;
font-family: 'Dongle', sans-serif;
font-family: 'Inter', sans-serif;
font-family: 'Sacramento', cursive; */


/* colors : #FD841F  */

@media (max-width: 900px){

}

body{
    margin: 0px;
    box-sizing: border-box;
    font-family: 'Jost';
    color: black;
    background-color: white;
    background-blend-mode:luminosity;
    /* background-image: url("https://images.unsplash.com/photo-1542435503-956c469947f6?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1974&q=80"); */
  }

  body::-webkit-scrollbar{
    display: none;
  }
.btn{
  padding: 0;
}
.headernav{
  padding-inline: 8rem 8rem;
  height:9vh;
  position: sticky;
  top: 0;
  background-color: white;
  z-index: 3;
}

.headernav-cont{
  padding: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100%;
}


.navbar-brand{
    font-weight: 600;
    font-size: 1.9rem;
    padding-bottom: 0px;
    margin: 0px;
    cursor: pointer;
    font-family: 'Sacramento';
}

.navbtn{
  padding-inline: 1.5rem;
}
.buttonmain{
  margin: 0px;
  font-weight: 500;
  font-size: 1rem;
  background-color: black;
  color:white;
  border-radius: 0px;
  border: 2px solid black;
  transition: all ease-in-out 0.2s;
}

.buttonmain:hover{
  color: black;
  border: 2px solid black;
}

/* Home */
.home{
  margin: 0px;
  height: 91vh;
  padding: 0rem 6rem
}

.home1{
  display: flex;
  padding-block: 5rem;
}
.home1inner{
  border: 3px solid ;
  color: black;
  padding-inline: 16rem;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.home1inner h5{
  font-size: 1rem;
}
.home1inner h1{
  font-size: 3rem;
}
.home1btn{
  padding: 0.5rem 3rem;
  margin-top: 0.4rem; 
}

.home2{
  display: flex;
  position: relative;
  align-items: center;
}

.home2img{
  max-width: 135%;
  position: absolute;
}


/* Login modal */

.modaloutline{
  display: flex;
  flex-direction: column;
  background-color: white;
  margin-inline: auto;
  margin-top: 1.5rem;
  padding: 1.5rem 2rem;
  z-index: 10;
  backdrop-filter: blur(1px);
}
.modalhead{
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 1.5rem;
}
.modalhead h1{
  font-size: 2rem;
  font-family: 'Sacramento';
  margin: 0px;
}
.tabs{
  display: flex;
}
.tab{
  width: 50%;
  text-align: center;
  border-bottom: 2px solid white;
  padding-block: 0.6em;
  margin-bottom: 1rem;
  color: rgb(138, 138, 138);
}
.tab1{
  background-color: white;
  color: black;
  border-bottom: 2px solid black;
}
.modalalert{
  text-align: center;
  color: white;
  margin-bottom: 1.5rem;
}
.alertbox{
  padding: 0.6rem;
}
.modalbtn{
  width:50%;
  margin-inline: auto;
}

/* input */
.form-control{
  color: black;
  background-color: rgba(255, 255, 255);
  border: 0px;
  border-radius: 0px;
  padding-top: 2.5rem;
}

.form-control:focus{
  color: black;
  background-color: rgba(0, 255, 255, 0);
  outline: none !important;
  box-shadow: 0 0 0 0.25rem rgba(248, 246, 246, 0);
  border-width: 0px 0px 2px 0px;
  border-bottom: solid black 2px;
}
.form-floating{
  margin-bottom: 1.5rem;
  position: relative;
}
.form-floating>.form-control:not(:placeholder-shown){
  padding-top: 2.5rem;
}

.form-floating>.form-control:focus{
  padding-top: 2.5rem;
  padding-bottom: 13px;
}

.form-floating label{
  color: black;
  font-size: 1rem;
}

.inv{
  font-size:0.8rem;
  color: red;
  font-weight: 600;
  text-align: end;
  margin-top: 0.2rem;
  position: absolute;
  right: 1.5rem;
  z-index: 3;
}

/* Main page */
.blog_main{
  background-color: rgb(244, 250, 254);
}

.blogmainrow{
  margin: 0;
  background-color: rgb(244, 250, 254);
}

/* Sidebar */
.sidebar{
  height: 91vh;
  z-index: 3;
  background-color: rgb(244, 250, 254);
  padding: 1rem 1rem;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  position: sticky;
  left:0;
  top:9vh;
  border-right: 1px rgb(198 , 198, 198) solid;
}

.sidecardnil{
  padding: 1rem;
}

.sidebarcards{
  min-height:40vh
}

/* Sidebar card */
.sidebarcard{
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: white;
  cursor: pointer;
  color: black;
  margin-bottom: 1rem;
  transition: 0.3s ease-in-out;
}
.headingdiv{
  padding-inline: 0.7rem;
  display: flex;
  justify-content: space-between;
  width: 100%;
  align-items:flex-end;
  margin-bottom: 1rem;
}

.headingdiv h5{
  font-size: 1.1rem;
  margin: 0;
}
.headingdiv a{
  font-size: 0.8rem;
  text-decoration: none;
  margin: 0;
  color: #293A80;
}
:root{
  --sidecardimgurl:url('https://www.google.com/url?sa=i&url=https%3A%2F%2Funsplash.com%2Fs%2Fphotos%2Fwhite--background&psig=AOvVaw0S5yk2NhgasDzVnGpUcdID&ust=1682347629035000&source=images&cd=vfe&ved=0CBEQjRxqFwoTCOic_rifwP4CFQAAAAAdAAAAABAE');
  --rightsidecardimgurl:url('https://www.google.com/url?sa=i&url=https%3A%2F%2Funsplash.com%2Fs%2Fphotos%2Fwhite--background&psig=AOvVaw0S5yk2NhgasDzVnGpUcdID&ust=1682347629035000&source=images&cd=vfe&ved=0CBEQjRxqFwoTCOic_rifwP4CFQAAAAAdAAAAABAE')
}
.sidebarcard:hover{
  background-image: var(--sidecardimgurl);
  background-repeat: no-repeat;
  background-size: cover;
  color: white;
  transform: scale(1.03);
}
.rightsidebarcard:hover{
  background-image: var(--rightsidecardimgurl);
  background-repeat: no-repeat;
  background-size: cover;
  color: white;
  transform: scale(1.03);
}
.sidebarcardbgcolor{
  padding: 0.5rem 1rem;
  width:100%
}
.sidebarcardbgcolor:hover{
  background-color: rgba(0,0,0,0.28)
}
.sidebarcardtitle{
  margin: 0;
  margin-bottom: 0.5rem;
  font-weight: 500;
  font-size: 1rem;
}

.sidebarcauthordate{
  display: flex;
  justify-content: space-between;
  width: 100%;
}
.sidebarcauthordate p{
  font-size: 0.75rem;
  margin: 0;
}
/* Profilebox */
.profilebox{
  background-color: white;
  padding: 0.5rem 1rem;
  width: 100%;
  margin-bottom: 1rem;
}
.profilebox p{
  font-size: 0.8rem;
  margin: 0;
}
.profilebox h3{
  margin: 0;
  font-size: 1rem;
}

/* logout */
.sidebarbtndiv{
  width: 100%;
  text-align: center;
}
.sidebarbtn{
  padding-block:0.1rem;
  width: 70%;
  margin-bottom: 1rem;
}

/* Banner */
.banner{
  height:  40vh;
  cursor: pointer;
}
.banner-inner{
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.banner-item{
  height: 40vh;
  display: flex !important;
  padding: 1rem 2rem;
  color: white;
  flex-direction: column;
  justify-content: space-between;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.3);
}
.bannercategory{
  background-color: #FF8B13;
  display: inline;
  padding: 0.2rem 0.3rem;
  font-size: 0.8rem;
  color: white;
  margin-right: 0.8rem;
  text-transform: uppercase;
}
.bannertitlenamedate{
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: end;
}

.bannertitlename{
  max-width: 60%;
}

.bannertitle{
  font-size: 2.3rem;
  font-weight: 500;
  margin: 0;
  margin-bottom: 0.5rem;
}
.bannerauthor{
  margin: 0;
}

/* Category */

.categoriesmain{
  position: sticky;
  top: 9vh;
  z-index: 3;
}

.wrapper {
  position: relative;
  overflow-x: hidden;
  max-width: 100%;
}
.wrapper .icon {
  position: absolute;
  top: 0;
  height: 100%;
  width: 120px;
  display: flex;
  align-items: center;
}
.icon:first-child {
  left: 0;
  display: none;
  background: linear-gradient(90deg, rgb(244, 250, 254) 70%, transparent);
}
.icon:last-child {
  right: 0;
  justify-content: flex-end;
  background: linear-gradient(-90deg, rgb(244, 250, 254) 70%, transparent);
}
.icon i {
  width: 55px;
  height: 55px;
  cursor: pointer;
  font-size: 1.2rem;
  text-align: center;
  line-height: 55px;
  border-radius: 50%;
}
.icon i:hover {
  background: white;
}
.icon:first-child i {
  margin-left: 15px;
} 
.icon:last-child i {
  margin-right: 15px;
} 
.wrapper .tabs-box {
  display: flex;
  gap: 12px;
  list-style: none;
  overflow-x: scroll;
  scroll-behavior: smooth;
  padding-inline: 1em;
  background-color: rgb(244, 250, 254);
}

.tabs-box::-webkit-scrollbar{
  display: none;
}

.tabs-box .tab {
  cursor: pointer;
  font-size: 0.8rem;
  white-space: nowrap;
  background: white;
  padding: 0.6rem 2.5rem;
  margin-block: 1rem;
  border-bottom: 2px solid white;
}
.tabs-box .tab:hover{
  background: white;
}
.tabs-box.dragging .tab {
  user-select: none;
  pointer-events: none;
}
.tabs-box .tab.active{
  color: #000000;
  border-color: #000000;
}
.tabs-box{
  margin: 0;
  padding: 0;
}

.paginationdiv{
  text-align: center;
}

/* Right bar */
.blogsrightbar{
  height: 91vh;
  background-color: rgb(244, 250, 254) ;
  position: sticky;
  top: 9vh;
  right: 0;
  z-index: 3;
  padding: 1rem;
  border-left: solid 1px rgb(198, 198, 198) ;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.topuserdiv{
  background-color: white;
  padding: 0.5rem 0.5rem;
  text-align: center;
}
.topuserdiv h5{
  font-size: 1rem;
  margin-bottom: 0.5rem;
}
.topuserdiv h4{
  font-size: 1.1rem;
  font-weight: 400;
}

.linksdiv{
  padding-inline: 0.5rem;
}
.linksdiv h5{
  margin-bottom: 1rem;
  font-size: 1.1rem;
}
.links{
  display: flex;
  justify-content: space-between;
}

/* Blog cards */
.cardsdivmain{
  display:grid;
  grid-template-columns: repeat(auto-fill, 14.5rem); 
  flex-wrap: wrap;
  padding: 1rem 2rem ;
  justify-content: space-between;
  margin: 1em auto;
  grid-gap: 2em;
}
.blogcardmain{
  background-image: url("https://images.news18.com/ibnlive/uploads/2023/04/virat-kohli-found-guilty-of-breaching-ipl-code-of-conduct.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  color: white;
  padding: 1rem 1rem;
  height: 19rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  box-shadow: inset 0px -150px 100px -100px rgba(0,0,0,1);
  transition: 0.3s ease-in-out;
}
.blogcardmain:hover{
  transform: scale(1.03);
  cursor: pointer;
}
.cardcategory p{
  display: inline;
  padding:0.1rem 0.2rem;
  font-size: 0.8em;
  background-color: #293A80;
}
.cardtitle{
  margin-bottom: 0.3rem;
  font-size: 1.2rem;
}
.likeandauthor{
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.likes{
  display: flex;
}
.likecount{
  font-size: 0.8rem;
  margin: 0;
  margin-left: 0.5em;
}
.author{
  font-size: 0.8rem;
  padding: 0;
  margin: 0;
}
.date{
  font-size: 0.7rem;
  margin: 0;
}
.cardbottom{
  z-index: 1;
}

/* Your blog */
.yourbloghead{
  font-size: 2rem;
  margin-block: 1rem;
}
.yourblognil{
  margin-top: 2rem;
}

/* -------------------------------------------------------------------------------------------------------------------------- */
.navbar{
    padding: 1em 9em;
    background-color: var(--backgroundgrey) ;
    align-items: center;
    height:8vh
}

.navbar-cont{
    padding: 0;
}

/* Category */
.category{
  display: flex;
  width: 100%;
  padding-inline: 15em;
  color: black;
  justify-content: space-between;
}

/* Blog card */
.blogsmain{
  padding-inline: 9em;
}
.blogcard{
  width: 24em;
  background-color: chocolate;
  border-radius: 1em;
}
.blogcardimg{
  width: 100%;
  border-radius: 1em 1em 0 0;
}
.blogrow{
  display: flex;
  justify-content: space-between;
  flex-wrap:wrap ;
}

.carddetails{
  padding-inline: 1em;
}

.blogcategory{
  margin-block: 1em;
}
.blogcategory h5{
  background-color: aquamarine;
  display: inline-block;
  font-size: 1em;
  padding: 0.4em;
}
.blogcardtitle{
  font-size: 1.5em;
}

.blogcarddesc{
  font-size: 1.2em;
}

.likes-author{
  margin-top: 1.5em;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.cardlikes{
  font-size: 1.2em;
}
.cardauthor h5{
  font-size: 1.1em;
}

/* Blog creation */
.createblogmain{
  padding-inline: 9em;
  padding-top: 3.5rem;
}

.form-textarea{
  height: 100% !important;
  resize: none;
  border-bottom: 2px solid white;
}

.categoryselect{
  padding-block: 0!important;
}

.imgselect{
  padding-block: 1em!important;
}

.selectprevimg{
    width: 100%;
    height: 23em;
    object-fit: contain;
}

.submitbtn{
  background-color: brown;
  border-radius: 1em;
  width:100%;
}

.logouthead{
  text-align: center;
}


.logoutbtn{
  padding: 0rem 3rem;
  margin-right: 1rem;
}
.logoutbtn:hover{
  background-color: white;
}
.logoutbtngroup{
  margin-top: 2rem;
  text-align: center;
  width: 100%;
}


@media (max-width: 800px){
  .modaloutline{
      margin-inline: 1em !important;
  }
  .cardsdivmain{
    padding: 1em 0;
    justify-content: center;
  }
  .sidebarcards{
    display: none;
  }
  .sidebar{
    height: 30vh;
    z-index: 2;
  }
  .banner-item{
    padding-inline: 0.6em;
  }
  .bannerdate{
    display: none;
  }
  .blogsrightbar{
    display: none;
  }
}